*{margin:0px;padding:0px;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:underline;}
body{word-wrap:break-word;font-size:100%;line-height:1.2em;color:#333;text-align:center;background: #FFE repeat top;}
hr{height: 0px;border: 0px;border-top:1px solid #aaa;}
#content_size{width:932px;margin:0 auto;text-align:left;}
#content_size .right_content{margin-top:73px;width:150px;float:left;}
.global_content{margin:0 4px;width:610px;float:left;}
.global_content .ft{font-size:75%;padding:0px 0.3em;background-color:#F2F2F2;border:1px #aaa solid;border-radius:7px;-webkit-border-radius:7px;}
.global_content #sb3g1{width:240px;}
.title_content h1{margin:0 0 16px 0;padding:0;}
.main_content .fs{font-size:77%;}
.main_content .fm{font-size:100%;}
.main_content #ftsize{font-size:90%;}
.main_content .box_left{width:64%;margin-bottom:2px;float:left;}
.main_content .bg_td{line-height:1.0em;padding:0.2em 0.4em;background-color:#DFD;background-image:url(http://dl.dropbox.com/u/122048445/ea/g/bg001.gif);}
.main_content ul{list-style-type:none;margin:0em 0.8em;padding:0;}
.main_content .box_right{line-height:1.8em;padding:3px 0;width:35%;margin-bottom:0.2em;font-size:70%;overflow:auto;border:1px #aaa solid;background-color:#FFC;background-image:url(http://dl.dropbox.com/u/122048445/ea/g/bg002.gif);float:right;}
.main_content table {max-width:100%;table-layout:fixed;}
.main_content .box_body{ padding:0.4em 0.8em;background-color:#DEF;background-image:url(http://dl.dropbox.com/u/122048445/ea/g/bg003.gif);border:solid 1px #aaa;border-radius:7px;-webkit-border-radius:7px;}
.pr td{font-size:75%;margin:0; padding:0.3em 0.4em;}
.bm td{background-color:#ececec;margin:4px 0;padding:4px 4px;}
